jsonpickle==0.9.6
six==1.11.0
redis==2.10.6
fakeredis==0.10.3
future==0.16.0
numpy==1.14.5
typing==3.6.4
requests==2.18.4
networkx==2.1
pykwalify<=1.6.0
coloredlogs==10.0
flask==1.0.2
flask_cors==3.0.4
rasa_nlu[tensorflow]==0.13.7
pika==0.13.0
sklearn_crfsuite==0.3.6
colorama==0.4.1
matplotlib==2.1.0
rasa_core==0.13.0a4
pytest